<!-- <div id="parent-to-child">
  <app-hero-parent></app-hero-parent>
</div> -->

<!-- <div id="parent-to-child-setter">
  <app-name-parent></app-name-parent>
</div> -->

<!-- <div id="parent-to-child-on-changes">
  <app-version-parent></app-version-parent>
</div> -->

<!-- <div id="child-to-parent">
  <app-vote-taker></app-vote-taker>
</div> -->

<!-- <div id="parent-to-child-localVar-or-viewChild">
  <app-countdown-parent-lv></app-countdown-parent-lv>
  <app-countdown-parent-vc></app-countdown-parent-vc>
</div> -->

<div id="bidirectional-service">
  <app-mission-control></app-mission-control>
</div>
